* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;

}

.left {
    width: 40%;
    float: left;
}

.right {
    width: 60%;
    float: left;
}

.text {
    height: 25px;
    width: 133px;
    left: 77px;
    top: 40px;
    font-weight: bold;
}

.homepage {
    background-color: #333333;
    
}

img {
    height: 30px;
    width: 20px;
}