/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Montserrat:wght@500&family=Space+Mono:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    min-width: 100vw;

}

.left {
    width: 50%;
    float: left;
}

.right {
    width: 50%;
    float: left;
    font-family: 'Space Mono', monospace;
}

h1 {
    margin-top: 65px;
    font-weight: 700;
    line-height: 95px;
    font-style: normal;
    letter-spacing: -0.035em;
    font-size: 64px;
    color: #333333;
}

.right p {
    font-style: normal;
    font-weight: 400;
    color: #4F4F4F;
    font-size: 24px;
    line-height: 36px;
    margin-top: 50px;
    letter-spacing: -0.035em;
}

.text {
    height: 25px;
    width: 133px;
    color: #333333;
    margin-left: 27px;
    margin-top: 10px;
    font-family: "Inconsolata", monospace;
}

button {
    width: 190px;
    height: 55px;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #333333;
}

.homepage {
    color: #fff;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: -0.035em;
    text-transform: uppercase;
    line-height: 21px;
}

img {
    height: 400px;
    width: 500px;
    margin-left: 77px;
    margin-top: 65px;
}

footer {
    position: absolute;
    bottom: 0;
    margin-left: 555px;
    padding: 10px;
    color: #BDBDBD;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    text-align: center;
    line-height: 17px;
    font-weight: 500;
}

footer a {
    color: #333333;
    text-decoration: none;
    text-transform: uppercase;
}

footer a:hover {
    color: rgb(72, 165, 29);
}

footer a:active {
    color: #333333;
}

/* Responsive design */
@media screen and (max-width: 1115px) {
    .left, .right, footer {
        width: 100%;
    }

    body {
        overflow-x: hidden;
    }

    .text {
        font-family: "Inconsolata", monospace;
        font-weight: 700;
        font-style: normal;
        position: absolute;
        top: 20px;
        left: 24px;
        width: 133px;
        height: 25px;
    }

    img {
        height: 220.35203552246094px;
        width: 286.829833984375px;
        margin-left: 24px;
        top: 109px;
        border-radius: 0px;
    }
    
    h1 {
        font-family: 'Space Mono', monospace;
        font-style: normal;
        line-height: 71px;
        letter-spacing: -0.035em;
        text-align: center;
    }

    .right p {
        text-align: center;
    }

    button {
        margin-left: 25px;
        align-self: center;
    }

    footer {
        position: inherit;
        margin-left: 0;
    }
}